<apex:page showHeader="false" sidebar="false" standardStylesheets="false" controller="ChangePasswordController">
    <apex:form id="statusCheck" styleClass="statusCheck form-horizontal" forceSSL="true">
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta charset="utf-8" />
            <title>OUC 311 | Portal</title>
            <!-- include all css and js file -->
            <c:OUC311_Assets />
        </head>
        <body>
          <!-- header -->
          <c:OUC311_Header tab=""/>
          <!-- end  of header -->
          
          <!-- Features Section -->
          <span class="breakPoint" id="s1"></span>          
          <div class="section p-no-top bg-grey ">
              <div class="well container">
              <div class="space-sm"></div>
                <h2 class="lg-title lg-title-border">Reset Password</h2>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                  <div id="form-messages"></div>
                  <div class="form-result" id="form-result" style="margin-left:290px; width:550px"></div>
                  <div class="form-group icon">
                       <label for="email" class="col-sm-offset-2 col-sm-1 control-label" style="width:211px; margin-left:80px;"></label>
                        <div class="col-sm-6 ">
                            <div class="control">
                               
                                  <apex:pageMessages id="error_msg"/>
                              
                            </div>
                        </div>  
                   </div>
                      
                      <form role="form" class="contactForm" id="contactus" name="contactus">
                          <div class="form-group icon">
                              <label for="oldPassword" class="col-sm-offset-1 col-sm-3 control-label">Old Password</label>
                              <div class="col-sm-6 ">
                                  <div class="control">
                                      <apex:inputSecret value="{!oldPassword}" id="oldPassword" styleClass="form-control input" maxlength="40" html-placeholder="Enter Old Password"></apex:inputSecret>
                                      <i class="fa fa-asterisk"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="space-sm"></div>
                          <div class="form-group icon">
                              <label for="newPassword" class="col-sm-offset-1 col-sm-3 control-label">New Password</label>
                              <div class="col-sm-6 ">
                                  <div class="control">
                                      <apex:inputSecret value="{!newPassword}" id="newPassword" styleClass="form-control input" maxlength="25"  html-placeholder="Enter New Password"></apex:inputSecret>
                                      <i class="fa fa-asterisk"></i>
                                  </div>
                              </div>
                          </div>                          
                          <div class="space-sm"></div>
                          <div class="form-group icon">
                              <label for="verifyNewPassword" class="col-sm-offset-1 col-sm-3 control-label">Verify New Password</label>
                              <div class="col-sm-6 ">
                                  <div class="control">
                                      <apex:inputSecret value="{!verifyNewPassword}" id="verifyNewPassword" styleClass="form-control input" maxlength="25"  html-placeholder="Verify New Password"></apex:inputSecret>
                                      <i class="fa fa-asterisk"></i>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="space-sm"></div>
                          <div class="form-group icon">
                            <div class="col-sm-offset-3 col-sm-6 text-center">                             
                              <apex:commandButton styleClass="btn btn-primary btn-xlg scroll" action="{!changePassword}" value="Reset" id="submit"/>
                              <a class="btn btn-primary btn-xlg scroll" href="../portal/ServiceHomePortal">Cancel</a>                                         
                              <div class="clear"></div>
                            </div>
                          </div>
                      </form>
  
                      <div class="space visible-xs"></div>
                  </div>
                </div>
              </div>
          </div>
                 
          <!-- footer -->
          <c:OUC311_Footer />
          <!-- end of footer -->

        <apex:includeScript value="{!URLFOR($Resource.DC311, 'DC311/assets/ajax/ajax_default.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.DC311, 'DC311/assets/ajax/email_conf.js')}"/>     
      </body>
    </html>
  </apex:form>
</apex:page>